@import url('https://fonts.googleapis.com/css?family=Jost:400,500');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Jost;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
